<!DOCTYPE html>
<html>
	<head>
	{% if title %}
		<title>{{title}}</title>
	{% else %}
		<title>Welcome</title>
	{% endif %}
	</head>
	<body>
		<div>Nanoblog: <a href="/index">Home</a></div>
		<hr>
		{% block content %}{% endblock %}
	</body>
</html>
