{% extends "base.html" %}
{% block content %}
<p>Oh hai, {{user.nickname}}.</p>
<ul>
% for post in posts %}
	<li><i>{{post.body}}</i> by {{post.author.nickname}}</li>
{% endfor %}
</ul>
{% endblock %}
